<div class="page__mail__combo">
  <div class="page__mail__combo__container">
    <div class="page__mail__combo__col">
      <h3 class="page__mail__combo__title"><%= t('marketing.pages.mail.combo_title') %></h3>
      <p class="page__mail__combo__detail"><%= t('marketing.pages.mail.combo_detail') %></p>

      <!--
      <div class="page__mail__combo__actions">
        <%= link_to marketing_request_consultation_path, class: "marketing-btn marketing-btn--outline--dark marketing-btn--medium marketing-btn--icon--right", style: "margin: 30px 0px 40px" do %>
          Get X% off a combined package
          <%= inline_svg_tag('marketing/common/buttons/icon-arrow.svg') %>
        <% end %>
      </div>
      -->
    </div>

    <div class="page__mail__combo__col">
      <%= image_tag 'marketing/pages/mail/combo.png' %>
    </div>
  </div>
</div>
