<div class="page__mail__container">
  <div class="page__mail__testimonials">
    <h4 class="page__mail__testimonials__subheading"><%= t('marketing.pages.mail.testimonials_subheading') %></h4>
    <h3 class="page__mail__testimonials__heading"><%= t('marketing.pages.mail.testimonials_heading') %></h3>

    <div class="page__mail__testimonials__units">
      <div class="page__mail__testimonials__units__unit">
        <div class="page__mail__testimonials__units__unit__icon">
          <%= inline_svg_tag('marketing/home/quotation-mark.svg') %>
        </div>

        <p class="page__mail__testimonials__units__unit__quote">
          <%= t('marketing.pages.mail.testimonials_item_1_quote_html') %>
        </p>

        <p class="page__mail__testimonials__units__unit__author">
          <%= t('marketing.pages.mail.testimonials_item_1_author') %>
        </p>
      </div>


      <div class="page__mail__testimonials__units__unit">
        <div class="page__mail__testimonials__units__unit__icon">
          <%= inline_svg_tag('marketing/pages/mail/quotation-mark.svg') %>
        </div>

        <p class="page__mail__testimonials__units__unit__quote">
          <%= t('marketing.pages.mail.testimonials_item_2_quote_html') %>
        </p>

        <p class="page__mail__testimonials__units__unit__author">
          <%= t('marketing.pages.mail.testimonials_item_2_author') %>
        </p>
      </div>


    </div>

  </div>
</div>
