<div class="home__investors-and-partners">
  <div class="home__investors-and-partners__content">
    <h1>Investors</h1>
  </div>

  <div class="home__investors-and-partners__content">
    <a href="http://shizen.vc" target="_blank">
      <%= image_tag "marketing/home/shizen-capital.jpg", height: "100px" %>
    </a>
  </div>
</div>

<div class="home__investors-and-partners">
  <div class="home__investors-and-partners__content">
    <h1>Partners</h1>
  </div>

  <div class="home__investors-and-partners__content home__investors-and-partners__content--partners">
    <%= image_tag "marketing/home/partner-accounting-intelligence.png" %>
    <%= image_tag "marketing/home/partner-hive-jinnan.png" %>
    <%= image_tag "marketing/home/partner-beyond-next-ventures.png" %>
    <%= image_tag "marketing/home/partner-sbc-scale-osaka.png" %>
    <%= image_tag "marketing/home/partner-raimaking.png" %>
    <%= image_tag "marketing/home/partner-otani-accounting-office.png" %>
  </div>
</div>