<div class="page__mail__combo" style ="margin-bottom: 50px;">
<div class="page__mail__combo__container" style ="justify-content: center;">
<div class="index-frame23">
          <span class="index-text019" id="mailmate_is"><span>MailMateとは</span></span>
          <div class="index-frame5">
            <div class="index-frame210">
            <div class="index-group23">
            <div class="index-frame19">
                  <img
                    alt="Rectangle41196"
                    src="<%=image_url('ja_landing/rectangle41196-yplb-200w.png')%>"
                    class="index-rectangle4"/>
                <img
                  alt="mailforward11182"
                  src="<%=image_url('ja_landing/mailforward11182-ydyw.svg')%>"
                  class="index-mailforward11"/>
              </div>
              </div>
              <span class="index-text021"><span>郵便物の受け取り</span></span>
              <span class="index-text023">
                <span>
                  お客様の郵便物は、バーチャルアドレスに届き、弊社の安全な設備で管理されます。
                </span>
              </span>
            </div>
            <div class="index-frame303">
            <div class="index-group23">
            <div class="index-frame19">
                <img
                  alt="Rectangle41196"
                  src="<%=image_url('ja_landing/rectangle41196-yplb-200w.png')%>"
                  class="index-rectangle4"/>
                <img
                  alt="ad211193"
                  src="<%=image_url('ja_landing/ad211193-pmor.svg')%>"
                  class="index-ad211"/>
              </div>
              </div>
              <span class="index-text025"><span>郵便物をデジタル化</span></span>
              <span class="index-text027">
                <span>
                  届いた郵便物をスキャンし、高解像度の
                  PDFとして受信トレイに配信します。
                </span>
              </span>
            </div>
            <div class="index-frame4">
              <div class="index-group23">
              <div class="index-frame19">
                  <img
                    alt="Rectangle41196"
                    src="<%=image_url('ja_landing/rectangle41196-yplb-200w.png')%>"
                    class="index-rectangle4"/>
                <img
                  alt="cloud11106"
                  src="<%=image_url('ja_landing/cloud11106-wna.svg')%>"
                  class="index-cloud1"/>
              </div>
              </div>
              <span class="index-text029"><span>クラウドで一括管理</span></span>
              <span class="index-text031">
                <span>
                  いつでも、どこからでも郵便物を
                  オンラインで確認・管理することができ
                  ます。開封、スキャン、保管、削除など
                  自動化し時間コスト削減します。
                </span>
              </span>
            </div>
          </div>
        </div>
        </div>
        </div>
