<div class="page__mail__container">
  <div class="page__mail__testimonials">
    <span class="index-text320"><span>Happy customers</span></span>
    <span class="index-text322"><span>お客様の声をご紹介</span></span>
    <div class="page__mail__testimonials__units">
      <div class="page__mail__testimonials__units__unit">
        <div class="page__mail__testimonials__units__unit__icon">
          <%= inline_svg_tag('marketing/home/quotation-mark.svg') %>
        </div>

        <p class="page__mail__testimonials__units__unit__quote">
          <%= t('marketing.pages.mail.testimonials_item_1_quote_html') %>
        </p>

        <p class="page__mail__testimonials__units__unit__author">
          <%= t('marketing.pages.mail.testimonials_item_1_author') %>
        </p>
      </div>


      <div class="page__mail__testimonials__units__unit">
        <div class="page__mail__testimonials__units__unit__icon">
          <%= inline_svg_tag('marketing/pages/mail/quotation-mark.svg') %>
        </div>

        <p class="page__mail__testimonials__units__unit__quote">
          <%= t('marketing.pages.mail.testimonials_item_2_quote_html') %>
        </p>

        <p class="page__mail__testimonials__units__unit__author">
          <%= t('marketing.pages.mail.testimonials_item_2_author') %>
        </p>
      </div>


    </div>

  </div>
</div>
