<div class="page__mail__why">
<div class="page__mail__why__container">
    <div class="index-frame24">
          <span class="index-text082">
            <span>バーチャルメールボックスとは?</span>
          </span>
          <div class="index-frame53">
            <div class="index-frame215">
              <div class="index-frame216">
                <div class="index-frame19">
                  <img
                    alt="Rectangle41196"
                    src="<%=image_url('ja_landing/rectangle41196-yplb-200w.png')%>"
                    class="index-rectangle4"/>
                  <img
                    alt="world111176"
                    src="<%=image_url('ja_landing/world111176-pj6p.svg')%>"
                    class="index-world11"/>
                </div>
                <span class="index-text084"><span>どこでも</span></span>
              </div>
            </div>
            <div class="index-frame313">
              <div class="index-frame217">
              <div class="index-frame19">
                <img
                  alt="Rectangle41196"
                  src="<%=image_url('ja_landing/rectangle41196-yplb-200w.png')%>"
                  class="index-rectangle4"/>
                  <img
                    alt="clock11188"
                    src="<%=image_url('ja_landing/clock11188-2d2.svg')%>"
                    class="index-clock1"/>
                </div>
                <span class="index-text086"><span>いつでも</span></span>
              </div>
            </div>
            <div class="index-frame404">
              <div class="index-frame218">
                <div class="index-frame19">
                  <img
                    alt="Rectangle41196"
                    src="<%=image_url('ja_landing/rectangle41196-yplb-200w.png')%>"
                    class="index-rectangle4"/>
                  <img
                    alt="devices11197"
                    src="<%=image_url('ja_landing/devices11197-59ii.svg')%>"
                    class="index-devices1"/>
                </div>
                <span class="index-text088">
                  <span>どのデバイスからも</span>
                </span>
              </div>
            </div>
          </div>
          <div class="index-frame62">
            <span class="index-text090">
              <span>
                MailMateのバーチャルメールボックスは郵便物に自由にアクセスできるクラウド郵便サービスです。
              </span>
            </span>
            <span class="index-text092">
              <span>
                郵便物をオンラインで受け取ることができます。郵便物はMailMateの住所に届き、丁寧に仕分け、スキャン、高品質のPDFへ変換し、アカウントダッシュボードで閲覧、操作することができます。
              </span>
            </span>
          </div>
        </div>
        </div>
        </div>