<div class="pricing__container">
  <div class="testimonials">
    <h4 class="testimonials__subheading">Happy Customers</h4>
    <h3 class="testimonials__heading"><%= t('marketing.pages.pricing.testimonials_title') %></h3>
    <div class="testimonials__units">
      <div class="testimonials__units__unit">
        <div class="testimonials__units__unit__icon">
          <%= inline_svg_tag('marketing/home/quotation-mark.svg') %>
        </div>
        <p class="testimonials__units__unit__quote">
          <%= t('marketing.pages.pricing.testimonials_quote_1_html') %>
        </p>
        <p class="testimonials__units__unit__author">
          <%= t('marketing.pages.pricing.testimonials_author_1_html') %>
        </p>
      </div>

      <div class="testimonials__units__unit">
        <div class="testimonials__units__unit__icon">
          <%= inline_svg_tag('marketing/home/quotation-mark.svg') %>
        </div>
        <p class="testimonials__units__unit__quote">
          <%= t('marketing.pages.pricing.testimonials_quote_2_html') %>
        </p>
        <p class="testimonials__units__unit__author">
          <%= t('marketing.pages.pricing.testimonials_author_2_html') %>
        </p>
      </div>
    </div>
  </div>
</div>
